@using Aiwins.Rocket.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.CardsDemo

<rocket-component-demo-section title="Example" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card style="width: 18rem;">
        <img rocket-card-image="Top" src="https://via.placeholder.com/300x200.png?text=Image+cap" />
        <rocket-card-body>
            <rocket-card-title>Card Title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Titles, text, and links" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card style="width: 18rem;">
        <rocket-card-body>
            <rocket-card-title>Card title</rocket-card-title>
            <rocket-card-subtitle class="mb-2 text-muted">Card subtitle</rocket-card-subtitle>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
            <a rocket-card-link href="#">Card link</a>
            <a rocket-card-link href="#">Another link</a>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="List groups" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card style="width: 18rem;">
        <rocket-list-group flush="true">
            <rocket-list-group-item>Cras justo odio</rocket-list-group-item>
            <rocket-list-group-item>Dapibus ac facilisis in</rocket-list-group-item>
            <rocket-list-group-item>Vestibulum at eros</rocket-list-group-item>
        </rocket-list-group>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="List Title" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card style="width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-list-group flush="true">
            <rocket-list-group-item>Cras justo odio</rocket-list-group-item>
            <rocket-list-group-item>Dapibus ac facilisis in</rocket-list-group-item>
            <rocket-list-group-item>Vestibulum at eros</rocket-list-group-item>
        </rocket-list-group>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Kitchen sink" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card style="width: 18rem;">
        <img rocket-card-image="Top" src="https://via.placeholder.com/300x200.png?text=Image+cap" />
        <rocket-card-body>
            <rocket-card-title>Card Title</rocket-card-title><rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
        <rocket-list-group flush="true">
            <rocket-list-group-item>Cras justo odio</rocket-list-group-item>
            <rocket-list-group-item>Dapibus ac facilisis in</rocket-list-group-item>
            <rocket-list-group-item>Vestibulum at eros</rocket-list-group-item>
        </rocket-list-group>
        <rocket-card-body>
            <a rocket-card-link href="#">Card link</a>
            <a rocket-card-link href="#">Another link</a>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Header and footer" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card style="width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Quoate" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card>
        <rocket-card-header>Quote</rocket-card-header>
        <rocket-card-body>
            <rocket-blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in Source Title</footer>
            </rocket-blockquote>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Featured" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card class="text-center">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </rocket-card-body>
        <rocket-card-footer class="text-muted"> 2 days ago</rocket-card-footer>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Sizing with grid markup" view-path="@CardsDemoViewComponent.ViewPath">
    <div class="row">
        <div class="col-md-6">
            <rocket-card>
                <rocket-card-header>Quote</rocket-card-header>
                <rocket-card-body>
                    <rocket-blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in Source Title</footer>
                    </rocket-blockquote>
                </rocket-card-body>
            </rocket-card>
        </div>
        <div class="col-md-6">
            <rocket-card class="text-center">
                <rocket-card-header>Featured</rocket-card-header>
                <rocket-card-body>
                    <rocket-card-title> Special title treatment</rocket-card-title>
                    <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
                    <a rocket-button="Primary" href="#"> Go somewhere</a>
                </rocket-card-body>
                <rocket-card-footer class="text-muted"> 2 days ago</rocket-card-footer>
            </rocket-card>
        </div>
    </div>
</rocket-component-demo-section>

<rocket-component-demo-section title="Sizing with utilities" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card class="w-75">
        <rocket-card-header>Quote</rocket-card-header>
        <rocket-card-body>
            <rocket-blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in Source Title</footer>
            </rocket-blockquote>
        </rocket-card-body>
    </rocket-card>
    <rocket-card class="text-center w-50">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </rocket-card-body>
        <rocket-card-footer class="text-muted"> 2 days ago</rocket-card-footer>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Text alignment" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card class="text-left" style="width: 18rem;">
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </rocket-card-body>
    </rocket-card>
    <rocket-card class="text-center" style="width: 18rem;">
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </rocket-card-body>
    </rocket-card>
    <rocket-card class="text-right" style="width: 18rem;">
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Image overlays" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card>
        <img rocket-card-image="Top" src="https://via.placeholder.com/1150x270.png?text=Image+cap" />
        <div class="card-img-overlay">
            <rocket-card-title>Card Title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
            <a rocket-button="Primary" href="#"> Go somewhere</a>
        </div>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Border" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card class="border-primary mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body class="text-primary">
            <rocket-card-title>Primary card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card class="border-secondary mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body class="text-secondary">
            <rocket-card-title>Secondary card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card class="border-success mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body class="text-success">
            <rocket-card-title>Success card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card class="border-danger mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body class="text-danger">
            <rocket-card-title>Danger card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card class="border-warning mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body class="text-warning">
            <rocket-card-title>Warning card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card class="border-info mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body class="text-info">
            <rocket-card-title>Info card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card class="border-light mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title>Light card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card class="border-dark mb-3" style="width: 18rem;">
        <rocket-card-header>Header</rocket-card-header>
        <rocket-card-body class="text-dark">
            <rocket-card-title>Dark card title</rocket-card-title>
            <rocket-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>

<rocket-component-demo-section title="Card Styles" view-path="@CardsDemoViewComponent.ViewPath">
    <rocket-card background="Primary" class="mb-3" style="max-width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card background="Success" text-color="Danger" border="Dark" class="mb-3" style="max-width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card background="Warning" text-color="Secondary" class="mb-3" style="max-width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card background="Light" text-color="Dark" border="Success" class="mb-3" style="max-width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card background="Dark" text-color="White" border="Danger" class="mb-3" style="max-width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card background="Danger" class="mb-3" style="max-width: 18rem;">
        <rocket-card-header text-color="Primary">Featured</rocket-card-header>
        <rocket-card-body>
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>

    <rocket-card background="Info" border="Danger" class="mb-3" style="max-width: 18rem;">
        <rocket-card-header>Featured</rocket-card-header>
        <rocket-card-body text-color="Danger">
            <rocket-card-title> Special title treatment</rocket-card-title>
            <rocket-card-text>With supporting text below as a natural lead-in to additional content.</rocket-card-text>
        </rocket-card-body>
    </rocket-card>
</rocket-component-demo-section>
