@using Aiwins.Rocket.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.DropdownsDemo
@model DropDownDemoDemoModel

<rocket-component-demo-section title="Single button" view-path="@DropdownsDemoViewComponent.ViewPath">
    <rocket-dropdown>
        <rocket-dropdown-button text="Dropdown button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown>
        <rocket-dropdown-button button-type="Secondary" link="true" text="Dropdown button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown>
        <rocket-dropdown-button button-type="Danger" text="Dropdown button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
            <rocket-dropdown-divider />
            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
</rocket-component-demo-section>

<rocket-component-demo-section title="Split button" view-path="@DropdownsDemoViewComponent.ViewPath">
    <rocket-dropdown>
        <rocket-dropdown-button button-type="Danger" dropdown-style="Split" text="Dropdown button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
            <rocket-dropdown-divider />
            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown>
        <rocket-dropdown-button size="Large" button-type="Secondary" text="Large button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
            <rocket-dropdown-divider />
            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown>
        <rocket-dropdown-button size="Large" button-type="Secondary" dropdown-style="Split" text="Large split button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
            <rocket-dropdown-divider />
            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown>
        <rocket-dropdown-button size="Small" button-type="Secondary" text="Small button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
            <rocket-dropdown-divider />
            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown>
        <rocket-dropdown-button size="Small" button-type="Secondary" dropdown-style="Split" text="Small split button" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
            <rocket-dropdown-divider />
            <rocket-dropdown-item href="#">Separated link</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
</rocket-component-demo-section>


<rocket-component-demo-section title="Directions" view-path="@DropdownsDemoViewComponent.ViewPath">
    <rocket-dropdown direction="Up">
        <rocket-dropdown-button button-type="Secondary" text="Dropup" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown direction="Right">
        <rocket-dropdown-button button-type="Secondary" text="dropright" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
    <rocket-dropdown direction="Right">
        <rocket-dropdown-button button-type="Secondary" dropdown-style="Split" text="Split right" />
        <rocket-dropdown-menu>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Another action</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
</rocket-component-demo-section>

<rocket-component-demo-section title="Menu Items" view-path="@DropdownsDemoViewComponent.ViewPath">
    <rocket-dropdown>
        <rocket-dropdown-button button-type="Secondary" text="Dropdown" />
        <rocket-dropdown-menu>
            <rocket-dropdown-header>Dropdown Header</rocket-dropdown-header>
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item active="true" href="#">Active action</rocket-dropdown-item>
            <rocket-dropdown-item disabled="true" href="#">Disabled action</rocket-dropdown-item>
            <rocket-dropdown-divider />
            <rocket-dropdown-item-text>Dropdown Item Text</rocket-dropdown-item-text>
            <rocket-dropdown-item href="#">Something else here</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
</rocket-component-demo-section>

<rocket-component-demo-section title="Menu alignment" view-path="@DropdownsDemoViewComponent.ViewPath">
    <rocket-dropdown>
        <rocket-dropdown-button button-type="Secondary" text="Right-aligned" />
        <rocket-dropdown-menu align="Right">
            <rocket-dropdown-item href="#">Action</rocket-dropdown-item>
            <rocket-dropdown-item active="true" href="#">Active action</rocket-dropdown-item>
            <rocket-dropdown-item disabled="true" href="#">Disabled action</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
</rocket-component-demo-section>

<rocket-component-demo-section title="Custom Content" view-path="@DropdownsDemoViewComponent.ViewPath">
    <rocket-dropdown>
        <rocket-dropdown-button button-type="Secondary" text="Dropdown With Only Text" />
        <rocket-dropdown-menu class="p-4" style="max-width: 200px;">
            <p>
                Some example text that's free-flowing within the dropdown menu.
            </p>
            <p class="mb-0">
                And this is more example text.
            </p>
        </rocket-dropdown-menu>
    </rocket-dropdown>
</rocket-component-demo-section>

<div class="row">
    <div class="col-md-12">
        <h3>The form model is:</h3>
        <hr />
        <textarea style="width:100%;height: 320px" disabled>
    public class LoginDto
    {
        [Required]
        [EmailAddress]
        public string EmailAddress { get; set; }

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }

        public bool RememberMe { get; set; }
    }
        </textarea>
    </div>
</div>

<rocket-component-demo-section title="With Form" view-path="@DropdownsDemoViewComponent.ViewPath">
    <rocket-dropdown>
        <rocket-dropdown-button button-type="Secondary" text="Dropdown With Form" />
        <rocket-dropdown-menu>
            <form class="px-4 py-3">
                <rocket-input asp-for="EmailAddress"></rocket-input>
                <rocket-input asp-for="Password"></rocket-input>
                <rocket-input asp-for="RememberMe"></rocket-input>
                <rocket-button button-type="Primary" text="Sign In" type="submit" />
            </form>
            <rocket-dropdown-divider></rocket-dropdown-divider>
            <rocket-dropdown-item href="#">New around here? Sign up</rocket-dropdown-item>
            <rocket-dropdown-item href="#">Forgot password?</rocket-dropdown-item>
        </rocket-dropdown-menu>
    </rocket-dropdown>
</rocket-component-demo-section>
