@using Aiwins.Rocket.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.BadgesDemo

<rocket-component-demo-section title="Example" view-path="@BadgesDemoViewComponent.ViewPath">
    <h1>Example heading <span rocket-badge="Secondary">New</span></h1>
    <h2>Example heading <span rocket-badge="Secondary">New</span></h2>
    <h3>Example heading <span rocket-badge="Secondary">New</span></h3>
    <h4>Example heading <span rocket-badge="Secondary">New</span></h4>
    <h5>Example heading <span rocket-badge="Secondary">New</span></h5>
    <h6>Example heading <span rocket-badge="Secondary">New</span></h6>
</rocket-component-demo-section>

<rocket-component-demo-section title="Notifications" view-path="@BadgesDemoViewComponent.ViewPath">
    <rocket-button button-type="Primary">
        Notifications <span rocket-badge="Light">4</span>
    </rocket-button>
</rocket-component-demo-section>

<rocket-component-demo-section title="Contextual variations" view-path="@BadgesDemoViewComponent.ViewPath">
    <span rocket-badge="Primary">Primary</span>
    <span rocket-badge="Secondary">Secondary</span>
    <span rocket-badge="Success">Success</span>
    <span rocket-badge="Danger">Danger</span>
    <span rocket-badge="Warning">Warning</span>
    <span rocket-badge="Info">Info</span>
    <span rocket-badge="Light">Light</span>
    <span rocket-badge="Dark">Dark</span>
</rocket-component-demo-section>

<rocket-component-demo-section title="Pill badges" view-path="@BadgesDemoViewComponent.ViewPath">
    <span rocket-badge-pill="Primary">Primary</span>
    <span rocket-badge-pill="Secondary">Secondary</span>
    <span rocket-badge-pill="Success">Success</span>
    <span rocket-badge-pill="Danger">Danger</span>
    <span rocket-badge-pill="Warning">Warning</span>
    <span rocket-badge-pill="Info">Info</span>
    <span rocket-badge-pill="Light">Light</span>
    <span rocket-badge-pill="Dark">Dark</span>
</rocket-component-demo-section>

<rocket-component-demo-section title="Links" view-path="@BadgesDemoViewComponent.ViewPath">
    <a href="#" rocket-badge="Primary">Primary</a>
    <a href="#" rocket-badge="Secondary">Secondary</a>
    <a href="#" rocket-badge="Success">Success</a>
    <a href="#" rocket-badge="Danger">Danger</a>
    <a href="#" rocket-badge="Warning">Warning</a>
    <a href="#" rocket-badge="Info">Info</a>
    <a href="#" rocket-badge="Light">Light</a>
    <a href="#" rocket-badge="Dark">Dark</a>
</rocket-component-demo-section>